* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.body-container {
  width: 100%;
  height: 100%;
  background-color: violet;
}

.header-container {
  width: 100%;
  height: 110px;
  background-color: aqua;
}

.header-content-container {
  width: 68%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: green;
}

.header-logo-container {
  width: 400px;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  border: #ffffff solid 1px;
}

.header-logo-container img {
  width: 100%;
}

.navigation-container {
  width: 100%;
  height: 99px;
  background-color: #666666;
}

.navigation-menu-container {
  width: 68%;
  height: 100%;
  margin: auto;
  background-color: #323544;
}

.services-carousel {
  width: 100%;
  height: 550px;
  background-color: aquamarine;
}

.services-carousel-content-container {
  position: absolute;
  width: 100%;
  height: 417px;
  margin-top: 60px;
  background-color: indianred;
}

.services-content-container {
  height: 297px;
  margin-top: 60px;
  margin-left: 298px;
  margin-right: 298px;
  background-color: grey;
  border: #ffffff solid 1px;
}

.services-content {
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  color: #ffffff;
  background-color: black;
  border: #ffffff solid 1px;
}

.services-content-heading {
  width: 100%;
  background-color: saddlebrown;
}

.services-content-heading h1 {
  font-size: 64px;
  line-height: 80px;
  margin: 0;
}

.services-content-paragraph {
  width: 100%;
  background-color: darkslateblue;
}

.services-content-paragraph p {
  font-size: 26px;
  line-height: 40px;
  margin: 0;
}

.services-why-us {
  width: 250px;
  height: 62px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 31px;
  margin-bottom: 18px;
  border-radius: 3px;
  background-color: #926fb1;
}

.services-carousel-controls {
  width: 100%;
  height: 22px;
  margin-bottom: 44px;
  background-color: olivedrab;
}

.partners-carousel {
  width: 100%;
  height: 170px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: greenyellow;
}

.partners-carousel-container {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: coral;
}

.partner-items {
  width: 240px;
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
  border: solid #ffffff 1px;
  background-color: cadetblue;
}

.partner-image-container {
  border: solid #ffffff 1px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.partner-image-container #cyber-essentials, #google-partner, #norfolk-prohelp, #winner, #carbon-charter {
  width: 100%;
}

.partner-image-container #living-wage {
  margin-left: calc(50% - 44px);
}

.partner-image-container img {
  height: 100%;
}

.homepage-container {
  width: 100%;
  height: 605px;
  background-color: #333645;
}

.homepage-content-container {
  width: 68%;
  height: 100%;
  margin: auto;
  background-color: mediumslateblue;
  border: #ffffff solid 1px;
}

.our-services-container {
  width: 100%;
  height: 878px;
  background-color: darkorchid;
}

.our-services-content-container {
  width: 68%;
  height: 100%;
  margin: auto;
  background-color: gray;
}

.article-header-bar-container {
  width: 100%;
  height: 117px;
  background-color: #ffffff;
  border: #000000 solid 1px;
}

.article-content-container {
  width: 100%;
  height: 773px;
  background-color: #ffffff;
  border: #000000 solid 1px;
}

.article-header-bar {
  display: flex;
  width: 68%;
  height: 100%;
  margin: auto;
  background-color: mediumvioletred;
  border: red solid 1px;
}

.article-content {
  width: 68%;
  height: 100%;
  margin: auto;
  background-color: mediumslateblue;
  border: red solid 1px;
}

.clients-carousel {
  width: 100%;
  height: 170px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: cornflowerblue;
}

.clients-carousel-container {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: coral;
}

.client-items {
  width: 240px;
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
  border: solid #ffffff 1px;
  background-color: cadetblue;
}

.client-image-container {
  border: solid #ffffff 1px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.client-image-container #gdst, #ashcroft, #searles, #busseys, #crane {
  width: 100%;
}

.client-image-container #one-traveller {
  margin-left: calc(50% - 21.5px);
}

.client-image-container img {
  height: 100%;
}

.footer-container {
  width: 100%;
  height: 372px;
  padding-top: 47px;
  background-color: lightcoral;
}

.footer-content-container {
  display: flex;
  width: 68%;
  height: 325px;
  margin: auto;
  background-color: green;
}

.social-links {
  width: 320px;
  height: 325px;
  background-color: aqua;
  border: #ffffff solid 1px;
}

#footer-logo {
  display: flex;
  width: 400px;
  height: 100%;
  margin-left: 15px;
  background-color: chocolate;
  border: #ffffff solid 1px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  text-decoration: underline;
}

.footer-logo-image {
  width: 100%;
  height: 65px;
  margin-bottom: 24px;
  border: #ffffff solid 1px;
}

.follow-us {
  display: flex;
  width: 100%;
  height: 17px;
  margin-bottom: 26px;
  background-color: blueviolet;
  border: #ffffff solid 1px;
  align-items: center;
}

.follow-us-text {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: red;
}

.social-link-buttons {
  width: 100%;
  height: 56px;
  background-color: goldenrod;
}

.link-button {
  display: inline-flex;
  width: 70px;
  height: 56px;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #212330;
}

.link-icon {
  width: 26px;
  height: 26px;
}

.link-icon img {
  width: 100%;
  height: 100%;
}

.social-link-buttons a:hover#facebook {
  background-color: #3b5998;
}

.social-link-buttons a:hover#linkedin {
  background-color: #0077b5;
}

.social-link-buttons a:hover#twitter {
  background-color: #00aced;
}

.social-link-buttons a:hover#instagram {
  background-color: #d93175;
}

#company-information-row {
  display: flex;
  width: 800px;
  height: 100%;
  margin-right: 15px;
  background-color: fuchsia;
  border: #ffffff solid 1px;
}

.information-column {
  width: 200px;
  height: 285px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
  background-color: teal;
}

.information-column h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.company-information-links {
  font-size: 13px;
  line-height: 0.6;
}

.bottom-footer-container {
  width: 100%;
  height: 45px;
  background-color: royalblue;
}

.bottom-footer-content-container {
  width: 68%;
  height: 100%;
  margin: auto;
  padding-top: 10px;
  background-color: #212330;
}

.bottom-footer-content {
  width: 100%;
  height: 35px;
  background-color: yellowgreen;
}

.copyright-notice {
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  background-color: red;
}

.bottom-footer-content a {
  text-decoration: none;
  color: #ffffff;
}

.bottom-footer-content a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
