* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.body-container {
  width: 100%;
  height: 100%;
  background-color: violet;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.header-container {
  width: 100%;
  height: 110px;
  background-color: #ffffff;
}

.header-content-container {
  display: flex;
  width: 65%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo-container {
  width: 400px;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-logo-container img {
  width: 100%;
}

.header-controls-container {
  width: 800px;
  height: 100%;
  margin-left: 68px;
}

.header-controls {
  display: flex;
  width: 708px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  align-items: center;
}

.support-button {
  display: flex;
  width: 141px;
  height: 56px;
  margin-right: 20px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  border-radius: 3px;
  background-color: #4183d7;
}

.header-button-icon {
  display: flex;
  width: 23px;
  height: 45px;
  margin-left: 16px;
  margin-right: 5px;
  align-items: center;
}

.header-button-icon img {
  width: 100%;
}

.contact-button {
  display: flex;
  width: 141px;
  height: 56px;
  margin-right: 20px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  background-color: #999aa2;
  border-radius: 3px;
}

.search-bar {
  display: flex;
  width: 240px;
  height: 56px;
}

.search-bar-input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
}

.search-button {
  display: flex;
  width: 63px;
  height: 56px;
  margin-right: 20px;
  align-items: center;
  background-color: #999aa2;
  border-radius: 3px;
}

.search-button-icon {
  width: 23px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
}

.search-button-icon img {
  width: 100%;
  height: 100%;
}

.hamburger-button {
  display: flex;
  width: 63px;
  height: 56px;
  align-items: center;
  background-color: #333645;
  border-radius: 3px;
}

.hamburger-button-icon {
  width: 33px;
  height: 33px;
  margin-left: auto;
  margin-right: auto;
}

.hamburger-button-icon img {
  width: 100%;
  height: 100%;
}

.navigation-container {
  width: 100%;
  height: 99px;
  background-color: #333645;
}

.navigation-menu-container {
  width: 65%;
  height: 100%;
  margin: auto;
}

.menu-item-container {
  display: flex;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.menu-item {
  display: flex;
  width: 167.8px;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
}

.menu-item-content {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.menu-item-icon {
  width: 100%;
  height: 33px;
  margin-top: 10px;
}

.menu-item small {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.menu-item p {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  color: #ffffff;
}

a:hover#bespoke-software {
  background-color: #67809f;
}

a:hover#it-support {
  background-color: #4183d7;
}

a:hover#digital-marketing {
  background-color: #2ecc71;
}

a:hover#telecoms-services {
  background-color: #d64541;
}

a:hover#web-design {
  background-color: #926fb1;
}

a:hover#cyber-security {
  background-color: #f62459;
}

a:hover#developer-course {
  background-color: #ce4125;
}

.services-carousel-image {
  position: relative;
  display: flex;
  width: 100%;
  height: 550px;
}

.services-carousel-image img {
  width: 100%;
  height: 100%;
}

.services-darken-image {
  filter: brightness(50%);
}

.services-carousel-content-container {
  position: absolute;
  width: 100%;
  height: 417px;
  margin-top: 60px;
}

.services-content-container {
  position: relative;
  width: 65%;
  height: auto;
  margin: auto;
}

.services-content {
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  color: #ffffff;
}

.services-content-heading {
  width: 100%;
  margin-bottom: 20px;
}

.services-content-heading h1 {
  font-size: 64px;
  line-height: 80px;
  margin: 0;
}

.services-content-paragraph {
  width: 100%;
}

.services-content-paragraph p {
  font-size: 26px;
  line-height: 40px;
  margin: 0;
}

.services-why-choose-us-button {
  display: flex;
  width: 250px;
  height: 62px;
  margin-top: 31px;
  margin-bottom: 18px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  border-radius: 3px;
  background-color: #926fb1;
}

.services-why-choose-us-icon {
  display: flex;
  width: 23px;
  height: 50px;
  margin-left: 12px;
  align-items: center;
}

.services-why-choose-us-icon img {
  width: 100%;
  height: 50%;
}

.services-why-choose-us-text {
  display: flex;
  align-items: center;
  margin: auto;
}

.partners-carousel {
  width: 100%;
  height: 170px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.partners-carousel-container {
  display: flex;
  width: 100%;
  height: 70px;
}

.partner-items {
  width: 240px;
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
  border: solid #ffffff 1px;
}

.partner-image-container {
  border: solid #ffffff 1px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.partner-image-container #cyber-essentials, #google-partner, #norfolk-prohelp, #winner, #carbon-charter {
  width: 100%;
}

.partner-image-container #living-wage {
  margin-left: calc(50% - 44px);
}

.partner-image-container img {
  height: 100%;
}

.homepage-container {
  width: 100%;
  height: 605px;
  background-color: #333645;
}

.homepage-content-container {
  display: flex;
  width: 65%;
  height: 100%;
  margin: auto;
  color: #ffffff;
}

.homepage-content-item {
  width: 600px;
  height: 505px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.homepage-content {
  margin-bottom: 26px;
}

.homepage-content-item p {
  margin: 0;
  line-height: 30px;
}

.homepage-buttons {
  display: flex;
  width: 570px;
  height: 57px;
  margin-bottom: 50px;
}

.homepage-why-choose-us-button {
  display: flex;
  width: 250px;
  height: 100%;
  margin-right: 9px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  border-radius: 3px;
  background-color: #272936;
}

.homepage-why-choose-us-icon {
  display: flex;
  width: 23px;
  height: 50px;
  margin-left: 12px;
  align-items: center;
}

.homepage-why-choose-us-icon img {
  width: 100%;
  height: 50%;
}

.homepage-why-choose-us-text {
  display: flex;
  align-items: center;
  margin: auto;
}

.homepage-our-culture-button {
  display: flex;
  width: 250px;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  border-radius: 3px;
  background-color: #272936;
}

.homepage-our-culture-icon {
  display: flex;
  width: 23px;
  height: 50px;
  margin-left: 12px;
  align-items: center;
}

.homepage-our-culture-icon img {
  width: 100%;
  height: 50%;
}

.homepage-our-culture-text {
  display: flex;
  align-items: center;
  margin: auto;
}

.homepage-review-buttons {
  display: flex;
  width: 570px;
  height: 57px;
  margin-bottom: 50px;
}

.google-review-button {
  display: flex;
  width: 263px;
  height: 100%;
  margin-right: 9px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  border-radius: 3px;
  background-color: #4387f6;
}

.google-review-icon {
  display: flex;
  width: 23px;
  height: 50px;
  margin-left: 12px;
  align-items: center;
}

.google-review-icon img {
  width: 100%;
  height: 50%;
}

.google-review-text {
  display: flex;
  align-items: center;
  margin: auto;
}

.trustpilot-review-button {
  display: flex;
  width: 294px;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  border-radius: 3px;
  background-color: #00b67b;
}

.trustpilot-review-icon {
  display: flex;
  width: 23px;
  height: 50px;
  margin-left: 12px;
  align-items: center;
}

.trustpilot-review-icon img {
  width: 100%;
  height: 50%;
}

.trustpilot-review-text {
  display: flex;
  align-items: center;
  margin: auto;
}

.review-stars {
  margin-bottom: 25px;
}

.review-stars img {
  width: 8%;
  height: 8%;
}

.review-text {
  font-size: 21px;
  line-height: 30px;
  font-style: italic;
  margin-bottom: 20px;
}

.reviewer-author {
  display: flex;
  font-size: 18px;
  line-height: 30px;
  color: #a3a8ac;
  margin-bottom: 40px;
}

.reviewer-company {
  font-size: 18px;
  line-height: 30px;
}

.reviewer-company a {
  color: #ffffff;
}

.reviewer-company a:hover {
  text-decoration: underline;
}

.our-services-container {
  width: 100%;
  height: 930px;
  padding-top: 70px;
  background-color: darkorchid;
}

.our-services-header {
  display: flex;
  width: 65%;
  height: 69px;
  margin: auto;
  border: #ffffff solid 1px;
}

.our-services-view-our-work {
  width: 371px;
  height: 41px;
  float: right;
}

.our-services-content-container {
  width: 65%;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
}

.top-row {
  display: flex;
}

.bottom-row {
  display: flex;
}

.service-item-position-bottom {
  margin-top: 28px;
}

.large-service-item {
  width: 400px;
  height: 344px;
  margin-top: 30px;
  background-color: #ffffff;
}

.large-service-item-content {
  width: 370px;
  height: 314px;
  margin: auto;
  padding-top: 30px;
  border-radius: 15px;
  border: #000000 solid 1px;
}

.large-service-item-icon {
  display: flex;
  width: 65px;
  height: 65px;
  margin: auto;
  align-items: center;
  background-color: #67809f;
  border-radius: 50%;
}

.large-service-item-icon img {
  width: 50%;
  height: 50%;
  margin: auto;
}

.large-service-item-content h1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  padding-top: 6px;
}

.large-service-item-text {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 16px;
}

.large-service-item-text p {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.small-service-item {
  width: 300px;
  height: 343px;
  background-color: #ffffff;
}

.small-service-item-content {
  width: 270px;
  height: 314px;
  margin: auto;
  padding-top: 30px;
  border-radius: 15px;
  border: #000000 solid 1px;
}

.small-service-item-icon {
  display: flex;
  width: 65px;
  height: 65px;
  margin: auto;
  align-items: center;
  border-radius: 50%;
}

.small-service-item-icon img {
  width: 50%;
  height: 50%;
  margin: auto;
}

.small-service-item-text {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 16px;
}

.small-service-item-content h1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  padding-top: 6px;
}

.small-service-item-text p {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.read-more-button {
  display: flex;
  width: 141px;
  height: 45px;
  margin: auto;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f7b322;
}

.read-more-button-text {
  display: flex;
  align-items: center;
  margin: auto;
}

.services-bespoke-services {
  background-color: #d64541;
}

.services-it-support {
  background-color: #4183d7;
}

.services-digital-marketing {
  background-color: #2ecc71;
}

.services-telecoms-services {
  background-color: #d64541;
}

.services-web-design {
  background-color: #926fb1;
}

.services-cyber-security {
  background-color: #f63459;
}

.services-developer-training {
  background-color: #ce4125;
}

.article-header-bar-container {
  width: 100%;
  height: 117px;
  padding-top: 50px;
  background-color: #ffffff;
}

.article-content-container {
  width: 100%;
  height: 655px;
  background-color: #ffffff;
}

.article-header-bar {
  display: flex;
  width: 65%;
  height: 67px;
  margin: auto;
}

.latest-news {
  width: 222px;
  height: 39px;
  font-size: 36px;
  line-height: 39px;
  margin-left: 15px;
}

.article-content {
  display: flex;
  width: 65%;
  height: 100%;
  margin: auto;
}

.article-container {
  padding-left: 15px;
  padding-right: 15px;
}

.article-item {
  width: 371px;
  height: 400px;
  padding-left: 28px;
  padding-right: 28px;
  border: #9ba2a6 solid 1px;
}

.article-header-image {
  width: 371px;
  height: 215px;
  margin-top: 30px;
}

.article-header-image img {
  width: 100%;
  height: 100%;
}

.article-item-text-container {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 30px;
  border-bottom: #9ba2a6 solid thin;
}

.article-title {
  margin-bottom: 20px;
}

.article-item p {
  margin: 0;
}

.article-read-time {
  text-transform: uppercase;
  color: #9ba2a6;
}

.article-read-more-button {
  display: flex;
  width: 141px;
  height: 45px;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f7b322;
}

.article-read-more-button-text {
  display: flex;
  align-items: center;
  margin: auto;
}

.article-author {
  display: flex;
}

.article-date {
  padding-left: 30px;
}

.view-all-articles {
  position: relative;
  left: 820px;
  font-size: 26px;
  line-height: 28px;
}

.view-all-articles a:hover {
  text-decoration: underline;
}

.view-all-articles-icon {
  display: flex;
  width: 23px;
  height: 50px;
  margin-left: 12px;
  align-items: center;
}

.view-all-articles-icon img {
  width: 100%;
  height: 50%;
}

.view-all-articles-text {
  display: flex;
  align-items: center;
  margin: auto;
  color: #000000;
}

.clients-carousel {
  width: 100%;
  height: 170px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.clients-carousel-container {
  display: flex;
  width: 100%;
  height: 70px;
}

.client-items {
  width: 240px;
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
}

.client-image-container {
  border: solid #ffffff 1px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.client-image-container #gdst, #ashcroft, #searles, #busseys, #crane {
  width: 100%;
}

.client-image-container #one-traveller {
  margin-left: calc(50% - 21.5px);
}

.client-image-container img {
  height: 100%;
}

.footer-container {
  width: 100%;
  height: 372px;
  padding-top: 47px;
  background-color: #323544;
}

.footer-content-container {
  display: flex;
  width: 65%;
  height: 325px;
  margin: auto;
}

.social-links {
  width: 320px;
  height: 325px;
}

#footer-logo {
  display: flex;
  width: 400px;
  height: 100%;
  margin-left: 15px;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  text-decoration: underline;
}

.footer-logo-image {
  width: 100%;
  height: 65px;
  margin-bottom: 24px;
}

.follow-us {
  display: flex;
  width: 100%;
  height: 17px;
  margin-bottom: 26px;
  align-items: center;
}

.follow-us-text {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.social-link-buttons {
  width: 100%;
  height: 56px;
}

.link-button {
  display: inline-flex;
  width: 70px;
  height: 56px;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #212330;
}

.link-icon {
  width: 26px;
  height: 26px;
}

.link-icon img {
  width: 100%;
  height: 100%;
}

.social-link-buttons a:hover#facebook {
  background-color: #3b5998;
}

.social-link-buttons a:hover#linkedin {
  background-color: #0077b5;
}

.social-link-buttons a:hover#twitter {
  background-color: #00aced;
}

.social-link-buttons a:hover#instagram {
  background-color: #d93175;
}

#company-information-row {
  display: flex;
  width: 800px;
  height: 100%;
  margin-right: 15px;
}

.information-column {
  width: 200px;
  height: 285px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}

.information-column h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.company-information-links {
  font-size: 13px;
  line-height: 0.6;
}

.bottom-footer-container {
  width: 100%;
  height: 45px;
  background-color: #212330;
}

.bottom-footer-content-container {
  width: 65%;
  height: 100%;
  margin: auto;
  padding-top: 10px;
}

.bottom-footer-content {
  width: 100%;
  height: 35px;
}

.copyright-notice {
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.bottom-footer-content a {
  color: #ffffff;
}

.bottom-footer-content a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
