
// articles
.article-header-bar-container
{
    width: 100%;
    height: 117px;
    padding-top: 50px;
    background-color: $white;
}

.article-content-container
{
    width: 100%;
    height: 655px;
    background-color: $white;
}

.article-header-bar
{
    display: flex;
    width: 65%;
    height: 67px;
    margin: auto;
}

.latest-news
{
    width: 222px;
    height: 39px;
    font-size: 36px;
    line-height: 39px;
    margin-left: 15px;
}

.article-content
{
    display: flex;
    width: 65%;
    height: 100%;
    margin: auto;
}

.article-container
{
    padding-left: 15px;
    padding-right: 15px;
}

.article-item
{
    width: 371px;
    height: 400px;
    padding-left: 28px;
    padding-right: 28px;
    border: #9ba2a6 solid 1px;
}

.article-header-image
{
    width: 371px;
    height: 215px;
    margin-top: 30px;
}

.article-header-image img
{
    width: 100%;
    height: 100%;
}

.article-item-text-container
{
    width: 100%;
    margin-bottom: 30px;
    padding-top: 30px;
    border-bottom: #9ba2a6 solid thin;
}

.article-title
{
    margin-bottom: 20px;
}

.article-item p
{
    margin: 0;
}

.article-read-time
{
    text-transform: uppercase;
    color: #9ba2a6;
}

.article-read-more-button
{
    display: flex;
    width: 141px;
    height: 45px;
    margin-top: 25px;
    margin-bottom: 30px;
    color: $white;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #f7b322;
}

.article-read-more-button-text
{
    display: flex;
    align-items: center;
    margin: auto;
}

.article-author
{
    display: flex;
}

.article-date
{
    padding-left: 30px;
}

.view-all-articles
{
    position: relative;
    left: 820px;
    font-size: 26px;
    line-height: 28px;
}

.view-all-articles a:hover
{
    text-decoration: underline;
}

.view-all-articles-icon
{
    display: flex;
    width: 23px;
    height: 50px;
    margin-left: 12px;
    align-items: center;
}

.view-all-articles-icon img
{
    width: 100%;
    height: 50%;
}

.view-all-articles-text
{
    display: flex;
    align-items: center;
    margin: auto;
    color: $black;
}
