
// bottom footer
.bottom-footer-container
{
    width: 100%;
    height: 45px;
    background-color: royalblue;
}

.bottom-footer-content-container
{
    width: 65%;
    height: 100%;
    margin: auto;
    padding-top: 10px;
    background-color: #212330;
}

.bottom-footer-content
{
    width: 100%;
    height: 35px;
    background-color: yellowgreen;
}

.copyright-notice
{
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 13px;;
    line-height: 18px;
    color: $white;
    background-color: red;
}

.bottom-footer-content a
{
    color: $white;
}

.bottom-footer-content a:hover
{
    text-decoration: underline;
}
