
// clients carousel
.clients-carousel
{
    width: 100%;
    height: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $white;
}

.clients-carousel-container
{
    display: flex;
    width: 100%;
    height: 70px;
}

.client-items
{
    width: 240px;
    height: 100%;
    margin-left: 25px;
    margin-right: 25px;
}

.client-image-container
{
    border: solid $white 1px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.client-image-container #gdst, #ashcroft, #searles, #busseys, #crane
{
    width: 100%;
}

.client-image-container #one-traveller
{
    margin-left: calc(50% - (43px/2));
}

.client-image-container img
{
    height: 100%;
}
