
// fonts
$google-font-url       : 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
$font-family--primary  : 'Poppins', sans-serif;

// colours
$white                 : #ffffff;
$black                 : #000000;
$jade                  : #00b67b;
$dove-grey             : #666666;
$hoki                  : #67809f;
$storm-grey            : #75788a;
$affair                : #79539a;
$wisteria              : #925fb1;
$manatee               : #999aa2;
$grey-chateau          : #a3a8ac;
$cognac                : #a3331d;
$silver-chalice        : #aaaaaa;
$tall-poppy            : #bc2c28;
$piper                 : #ce4125;
$alto                  : #d6d6d6;
$valencia              : #d64541;
$gamboge               : #db8c0d;
$red-ribbon            : #de093f;
$radical-red           : #f62459;
$buttercup             : #f7b322;
$web-orange            : #ffa500;
$ebony-clay            : #212330;
$eucalyptus            : #25a25a;
$charade               : #272936;
$mariner               : #286abd;
$shamrock              : #2ecc71;
$tuna                  : #323544;
$havelock-blue         : #4183d7;
$dodger-blue           : #4387f6;
$blue-bayoux           : #526781;
$emporer               : #555555;
$chambray              : #3b5998;
$cerise                : #d93175;
$deep-cerulean         : #0077b5;
$cerulean              : #00aced;

// text
$base__font-size       : 16px;
$base__line-height     : 24px;
