
// header
.header-container
{
    width: 100%;
    height: 110px;
    background-color: aqua;
}

.header-content-container
{
    width: 68%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: green; // #323544;

}

.header-logo-container
{
    width: 400px;
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    border: $white solid 1px;
}

.header-logo-container img
{
    width: 100%;
}