
// homepage
.homepage-container
{
    width: 100%;
    height: 605px;
    background-color: #333645;
}

.homepage-content-container
{
    display: flex;
    width: 65%;
    height: 100%;
    margin: auto;
    color: $white;
}

.homepage-content-item
{
    width: 600px;
    height: 505px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.homepage-content
{
    margin-bottom: 26px;
}

.homepage-content-item p
{
    margin: 0;
    line-height: 30px;
}

.homepage-buttons
{
    display: flex;
    width: 570px;
    height: 57px;
    margin-bottom: 50px;
}

.homepage-why-choose-us-button
{
    display: flex;
    width: 250px;
    height: 100%;
    margin-right: 9px;
    color: $white;
    text-transform: uppercase;
    align-items: center;
    border-radius: 3px;
    background-color: #272936;
}

.homepage-why-choose-us-icon
{
    display: flex;
    width: 23px;
    height: 50px;
    margin-left: 12px;
    align-items: center;
}

.homepage-why-choose-us-icon img
{
    width: 100%;
    height: 50%;
}

.homepage-why-choose-us-text
{
    display: flex;
    align-items: center;
    margin: auto;
}


.homepage-our-culture-button
{
    display: flex;
    width: 250px;
    height: 100%;
    color: $white;
    text-transform: uppercase;
    align-items: center;
    border-radius: 3px;
    background-color: #272936;
}

.homepage-our-culture-icon
{
    display: flex;
    width: 23px;
    height: 50px;
    margin-left: 12px;
    align-items: center;
}

.homepage-our-culture-icon img
{
    width: 100%;
    height: 50%;
}

.homepage-our-culture-text
{
    display: flex;
    align-items: center;
    margin: auto;
}

.homepage-review-buttons
{
    display: flex;
    width: 570px;
    height: 57px;
    margin-bottom: 50px;
}

.google-review-button
{
    display: flex;
    width: 263px;
    height: 100%;
    margin-right: 9px;
    color: $white;
    text-transform: uppercase;
    align-items: center;
    border-radius: 3px;
    background-color: #4387f6;
}

.google-review-icon
{
    display: flex;
    width: 23px;
    height: 50px;
    margin-left: 12px;
    align-items: center;
}

.google-review-icon img
{
    width: 100%;
    height: 50%;
}

.google-review-text
{
    display: flex;
    align-items: center;
    margin: auto;
}


.trustpilot-review-button
{
    display: flex;
    width: 294px;
    height: 100%;
    color: $white;
    text-transform: uppercase;
    align-items: center;
    border-radius: 3px;
    background-color: #00b67b;
}

.trustpilot-review-icon
{
    display: flex;
    width: 23px;
    height: 50px;
    margin-left: 12px;
    align-items: center;
}

.trustpilot-review-icon img
{
    width: 100%;
    height: 50%;
}

.trustpilot-review-text
{
    display: flex;
    align-items: center;
    margin: auto;
}

.review-stars
{
    margin-bottom: 25px;
}

.review-stars img
{
    width: 8%;
    height: 8%;
}

.review-text
{
    font-size: 21px;
    line-height: 30px;
    font-style: italic;
    margin-bottom: 20px;
}

.reviewer-author
{
    display: flex;
    font-size: 18px;
    line-height: 30px;
    color: #a3a8ac;
    margin-bottom: 40px;
}

.reviewer-company
{
    font-size: 18px;
    line-height: 30px;
}

.reviewer-company a
{
    color: $white;
}

.reviewer-company a:hover
{
    text-decoration: underline;
}