
// homepage
.homepage-container
{
    width: 100%;
    height: 605px;
    background-color: #333645;
}

.homepage-content-container
{
    width: 66%;
    height: 100%;
    margin: auto;
    background-color: mediumslateblue; // #323544;
    border: $white solid 1px;
}
