
// navigation
.navigation-container
{
    width: 100%;
    height: 99px;
    background-color: #333645;
}

.navigation-menu-container
{
    width: 65%;
    height: 100%;
    margin: auto;
}

.menu-item-container
{
    display: flex;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.menu-item
{
    display: flex;
    width: 167.8px;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
}

.menu-item-content
{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menu-item-icon
{
    width: 100%;
    height: 33px;
    margin-top: 10px;
}

.menu-item small
{
    font-size: 10px;
    line-height: 10px;
    color: $white;
}

.menu-item p
{
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    color: $white;
}

a:hover#bespoke-software 
{
    background-color: #67809f;
}

a:hover#it-support 
{
    background-color: #4183d7;
}

a:hover#digital-marketing
{
    background-color: #2ecc71;
}

a:hover#telecoms-services 
{
    background-color: #d64541;
}

a:hover#web-design 
{
    background-color: #926fb1;
}

a:hover#cyber-security 
{
    background-color: #f62459;
}

a:hover#developer-course 
{
    background-color: #ce4125;
}
