
// navigation
.navigation-container
{
    width: 100%;
    height: 99px;
    background-color: #666666;
}

.navigation-menu-container
{
    width: 68%;
    height: 100%;
    margin: auto;
    background-color: #323544;
}
