
// navigation submenu
.navigation-submenu-menu-container
{
    width: 65%;
    height: 100%;
    margin: auto;
    color: $white;
}

.navigation-submenu-menu-container h1
{
    font-size: 32px;
    line-height: 35px;
}

.submenu-content-container
{
    display: flex;
    font-size: 19px;
    line-height: 21px;
}

.submenu-container-columns
{
    width: 396px;
}

.bespoke-software-submenu
{
    position: absolute;
    left: 0;
    top: 209px;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    background-color: #666666;
}

.it-support-submenu
{
    position: absolute;
    left: 0;
    top: 209px;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    background-color: #286abd;
}

.digital-marketing-submenu
{
    position: absolute;
    left: 0;
    top: 209px;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    background-color: #25a25a;
}

.telecoms-services-submenu
{
    position: absolute;
    left: 0;
    top: 209px;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    background-color: #bc2c28;
}

.web-design-submenu
{
    position: absolute;
    left: 0;
    top: 209px;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    background-color: #79539a;
}

.cyber-security-submenu
{
    position: absolute;
    left: 0;
    top: 209px;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    background-color: #de093f;
}

.developer-course-submenu
{
    position: absolute;
    left: 0;
    top: 209px;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    background-color: #a3331d;
}
