
// our services
.our-services-container
{
    width: 100%;
    height: 878px;
    background-color: darkorchid;
}

.our-services-content-container
{
    width: 66%;
    height: 100%;
    margin: auto;
    background-color: gray;
}
