
// our services
.our-services-header-bar-container
{
    width: 100%;
    height: 117px;
    padding-top: 50px;
    background-color: $white;
}

.our-services-header-bar
{
    display: flex;
    width: 65%;
    height: 67px;
    margin: auto;
}

.our-services-title
{
    width: 272px;
    height: 39px;
    font-size: 43px;
    line-height: 48px;
    margin-left: 15px;
}

.view-our-services
{
    position: relative;
    left: 640px;
    font-size: 26px;
    line-height: 28px;
}

.view-our-services a:hover
{
    text-decoration: underline;
}

.view-our-services-icon
{
    display: flex;
    width: 23px;
    height: 50px;
    margin-left: 12px;
    align-items: center;
}

.view-our-services-icon img
{
    width: 100%;
    height: 50%;
}

.view-our-services-text
{
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 36px;
    line-height: 40px;
    color: $black;
}

.our-services-container
{
    width: 100%;
    height: 720px;
    background-color: $white;
}

.our-services-content-container
{
    width: 65%;
    height: 100%;
    margin: auto;
    background-color: $white;
}

.top-row
{
    display: flex;
}

.bottom-row
{
    display: flex;
}

.service-item-position-bottom
{
    margin-top: 28px;
}


.large-service-item
{
    width: 400px;
    height: 344px;
}

.large-service-item-content
{
    width: 370px;
    height: 314px;
    margin: auto;
    padding-top: 30px;
    border-radius: 15px;
    border: $black solid 1px;
}

.large-service-item-icon
{
    display: flex;
    width: 65px;
    height: 65px;
    margin: auto;
    align-items: center;
    background-color: #67809f;
    border-radius: 50%;
}

.large-service-item-icon img
{
    width: 50%;
    height: 50%;
    margin: auto;
}

.large-service-item-content h1
{
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    padding-top: 6px;
}

.large-service-item-text
{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 16px;
}

.large-service-item-text p
{
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}



.small-service-item
{
    width: 300px;
    height: 343px;
    background-color: $white;
}

.small-service-item-content
{
    width: 270px;
    height: 314px;
    margin: auto;
    padding-top: 30px;
    border-radius: 15px;
    border: $black solid 1px;
}

.small-service-item-icon
{
    display: flex;
    width: 65px;
    height: 65px;
    margin: auto;
    align-items: center;
    border-radius: 50%;
}

.small-service-item-icon img
{
    width: 50%;
    height: 50%;
    margin: auto;
}

.small-service-item-text
{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 16px;
}

.small-service-item-content h1
{
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    padding-top: 6px;
}

.small-service-item-text p
{
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}


.read-more-button
{
    display: flex;
    width: 141px;
    height: 45px;
    margin: auto;
    color: $white;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #f7b322;
}

.read-more-button-text
{
    display: flex;
    align-items: center;
    margin: auto;
}

.services-bespoke-services
{
    background-color: #d64541;
}

.services-it-support
{
    background-color: #4183d7;
}

.services-digital-marketing
{
    background-color: #2ecc71;
}

.services-telecoms-services
{
    background-color: #d64541;
}

.services-web-design
{
    background-color: #926fb1;
}

.services-cyber-security
{
    background-color: #f63459;
}

.services-developer-training
{
    background-color: #ce4125;
}