
// services carousel
.services-carousel-image
{
    position: relative;
    display: flex;
    width: 100%;
    height: 550px;
}

.services-carousel-image img
{
    width: 100%;
    height: 100%;
}

.services-darken-image
{
    filter: brightness(50%);
}

.services-carousel-content-container
{
    position: absolute;
    width: 100%;
    height: 417px;
    margin-top: 60px;
}

.services-content-container
{
    position: relative;
    height: auto;
    margin-top: 20px;
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.services-content
{
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    color: $white;
}

.services-content-heading
{
    width: 100%;
    margin-bottom: 20px;
}

.services-content-heading h1
{
    font-size: 64px;
    line-height: 80px;
    margin: 0;
}

.services-content-paragraph
{
    width: 100%;
}

.services-content-paragraph p
{
    font-size: 26px;
    line-height: 40px;
    margin: 0;
}

.services-why-choose-us-button
{
    display: flex;
    width: 250px;
    height: 62px;
    margin-top: 31px;
    margin-bottom: 18px;
    padding-left: 38px;
    color: $white;
    text-transform: uppercase;
    align-items: center;
    border-radius: 3px;
    background-color: #926fb1;
}

.services-why-choose-us-icon
{
    display: flex;
    width: 23px;
    height: 50px;
    margin-left: 12px;
    align-items: center;
}

.services-why-choose-us-icon img
{
    width: 100%;
    height: 50%;
}
